.cardSet {
  position: relative;
  margin-top: 10px;
  left: 3%;
  width: 90vw;
}
.pmiSet {
  margin-top: 150px;
  /* margin-left: 10px; */
}
.plusSet {
  margin-right: 10px;
}
.minusSet {
  margin-left: 10px;
}
.inputSet {
  /* position: relative;
  width: 10px; */
  /* margin-left: -10px; */
}
.btnSet {
  /* left: 3%; */
  /* width: 400px; */
}
