.cardSet {
  position: relative;
  margin-top: 10px;
  left: 3%;
  width: 90vw;
}
.pmiSet {
  margin-top: 150px;
  margin-left: 10px;
}
.plusSet {
  margin-right: 10px;
}
.minusSet {
  margin-left: 10px;
}
.cntSet {
  text-align: center;
  display: inline !important;
  width: 50px !important;
}
.btnSet {
  margin-left: 10px;
}
