.cardSet {
  position: relative;
  margin-top: 10px;
  left: 3%;
  width: 90vw;
}
.pmiSet {
  margin-top: 150px;
  margin-left: 10px;
}
.plusSet {
  margin-right: 10px;
}
.minusSet {
  margin-left: 10px;
}
.cntSet {
  text-align: center;
  display: inline !important;
  width: 50px !important;
}
.checkBtnSet {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 7vw;
  font-size: 1.2rem !important;
  margin-left: 3vw;
  width: max-content !important;
}

@media screen and (min-width: 700px) and (max-width: 865px) {
  .pmiSet {
    margin-top: 150px;
    margin-left: 15vw;
  }
  .plusSet {
    margin-right: 10px;
  }
  .minusSet {
    margin-left: 10px;
  }
  .cntSet {
    text-align: center;
    display: inline !important;
    width: 50px !important;
  }
}
