.cardSet {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  margin-top: 80px;
  margin-left: 20px !important;
  width: calc(100% - 10px);
}
.inputSet {
  width: 60px !important;
}
