.cardSet {
  position: relative;
  margin-top: 10px;
  left: 3%;
  width: 90vw;
}
.cartTitle {
  margin-bottom: 100px;
  /* margin-top: 50px; */
}
.pmiSet {
  /* margin-top: 150px; */
  margin-left: 10px;
}
.plusSet {
  margin-right: 10px;
}
.minusSet {
  margin-left: 10px;
}
.cntSet {
  text-align: center;
  display: inline !important;
  width: 50px !important;
}
.checkBtnSet {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 7vw;
  font-size: 1.2rem !important;
  margin-left: 3vw;
  width: max-content !important;
}
.cartImg {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 769px) and (max-width: 865px) {
  .pmiSet {
    margin-top: 150px;
    margin-left: 2vw;
    width: 20vw;
  }
  .plusSet {
    margin-right: 10px;
  }
  .minusSet {
    margin-left: 10px;
  }
  .cntSet {
    text-align: center;
    display: inline !important;
    width: 45px !important;
  }
  .checkBtnSet {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 7vw;
    font-size: 1rem !important;
    margin-left: 4vw;
    width: max-content !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
}
