.cartCardSet {
  position: relative;
  left: 3%;
  width: 90vw;
  margin-top: 10px !important;
}
.my-2 {
  height: 28vw !important;
}

.cartTitle {
  margin-bottom: 100px;
  margin-left: 2vw;
  /* margin-top: 50px; */
}
.pmiSet {
  margin-top: 4vw;
  margin-left: 30px;
}
.plusSet {
  margin-right: 10px;
}
.minusSet {
  margin-left: 10px;
}
.cntSet {
  text-align: center;
  display: inline !important;
  width: 50px !important;
}
.checkBtnSet {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2vw;
  font-size: 1.2rem !important;
  margin-left: 3vw;
  width: max-content !important;
}
.cartImg {
  width: 20vw !important;
  height: 28vw;
}
.details {
  margin-left: 2vw;
  margin-top: -50px;
}

@media screen and (min-width: 769px) and (max-width: 866px) {
  .pmiSet {
    margin-top: -10px !important;
    margin-left: 2vw;
    width: 20vw;
  }
  .cartTitle {
    margin-bottom: 50px;
    /* margin-top: 50px; */
  }
  .plusSet {
    margin-right: 10px;
  }
  .minusSet {
    margin-left: 10px;
  }
  .cntSet {
    text-align: center;
    display: inline !important;
    width: 45px !important;
  }
  .checkBtnSet {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3vw;
    font-size: 1rem !important;
    margin-left: 4vw;
    width: max-content !important;
  }
  .details {
    margin-left: 2vw;
    margin-top: 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .cartCardSet {
    position: relative;
    margin-left: -14vw;
    width: 90vw;
    margin-top: 10px !important;
  }

  .pmiSet {
    margin-top: -40px !important;
    margin-left: 2vw;
    width: 40vw;
  }
  .cartTitle {
    margin-bottom: 7vw;
    margin-left: 4vw;
    margin-top: -30px !important;
  }
  .cartTitle h2 {
    font-size: 1.2rem !important;
  }
  .cartCardSet {
    position: relative;
    margin-top: 10px;
    left: 18vw;
    width: 95vw;
  }
  .plusSet {
    width: 10px;
    height: 10px;
    margin-right: 10px;
  }
  .minusSet {
    margin-left: 10px;
  }
  .cntSet {
    text-align: center;
    display: inline !important;
    width: 35px !important;
    height: 25px;
    font-size: 0.8rem !important;
  }
  .checkBtnSet {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 7vw;
    font-size: 1rem !important;
    margin-left: 4vw;
    font-size: 0.7rem !important;
    width: max-content !important;
  }
  .details {
    width: max-content;
    margin-left: 3vw;
    margin-top: 3px;
    font-size: 0.8rem !important;
  }
}
@media screen and (min-width: 310px) and (max-width: 480px) {
  .cartCardSet {
    position: relative;
    margin-top: 10px;
    width: 95vw;
  }
  .my-2 {
    height: 35vw !important;
  }
  .cartImg {
    width: 25vw !important;
    height: 35vw;
  }
  .pmiSet {
    margin-top: -40px !important;
    margin-left: 2vw;
    width: 60vw;
  }
  .checkBtnSet {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 7vw;
    font-size: 1rem !important;
    margin-left: 4vw;
    font-size: 0.7rem !important;
    width: max-content !important;
  }
  .cntSet {
    text-align: center;
    display: inline !important;
    width: 40px !important;
    height: 30px;
  }
  .cntSet {
    text-align: center;
    display: inline !important;
    width: 35px !important;
    height: 25px;
    font-size: 0.7rem !important;
  }
  .cartTitle {
    /* margin-bottom: vw; */
    margin-left: 3vw;
    margin-top: -30px;
  }
  .cartTitle h2 {
    font-size: 1.2rem !important;
  }
  .details {
    width: max-content;
    margin-left: 3vw;
    margin-top: -150px;
    font-size: 0.4rem !important;
  }
}
@media screen and (max-width: 309px) {
  .cartCardSet {
    position: relative;
    margin-top: 10px;
    width: 95vw;
  }
  .my-2 {
    height: 35vw !important;
  }
  .cartImg {
    width: 25vw !important;
    height: 35vw;
  }
  .pmiSet {
    margin-top: -50px !important;
    margin-left: 2vw;
    width: 60vw;
  }
  .checkBtnSet {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 7vw;
    font-size: 0.6rem !important;
    width: max-content !important;
  }
  .cntSet {
    text-align: center;
    display: inline !important;
    position: relative;
    width: 34px !important;
    height: 20px;
    font-size: 0.6rem !important;
  }
  .cartTitle {
    margin-bottom: 10px;
    margin-left: 8vw;

    /* margin-top: 50px; */
  }
  .cartTitle h2 {
    font-size: 1rem !important;
  }
}
