.cardSet {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  margin-left: -100px;
}
.imgSet {
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  width: 800px;
}
