.cardSet {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  margin: -50px, 0, 0, -50px !important;
}
.imgSet {
  width: 1000px;
  margin-left: -50px;
  margin-right: -5px;
}
