@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
h3 {
  font-family: "Open Sans", sans-serif;
  margin-top: 9%;
  margin-left: 5%;
  font-size: 1.8rem;
}
p {
  font-family: "Open Sans", sans-serif;
  margin-top: 6%;
  font-size: 1.5rem;
}
.imgSet {
  width: 80%;
  margin-bottom: 7%;
}
.imgSize {
  margin-top: -7%;
}
.emailBlock {
  font-family: "Open Sans", sans-serif;
  width: 60%;
  height: 20%;
  background-color: beige;
}
.emailP {
  margin-left: 20%;
}
