.errorCard {
  position: relative;
  left: 3%;
  width: 90vw !important;
}
.errormsg p {
  /* display: flex; */
  /* text-align: justify; */
  /* margin-top: -10vw; */
  width: 80vw;
  height: 80vw;
}
