.errorCard {
  position: relative;
  left: 3%;
  width: 100vw !important;
}
.errormsg p {
  /* width: 90vw !important;
  height: 90vw !important; */
  text-align: center;
  display: inline-block;
  width: 80vw !important;
  height: 15vw !important;
  margin: 10px;
}
