.introduceCard {
  text-align: center !important;
}
.introduceCardTitle {
  font-family: cursive;
  font-size: 2.5rem;
}
.bgSet {
  height: 600px;
  /* width: 90%; */
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  margin-bottom: 1%;
}

.ImgSet {
  width: 90%;
  height: 600px;
  opacity: 0.9;
}

.introduceCardText {
  margin-top: 10%;
  padding: 2%;
  font-family: cursive;
  font-size: 1.8rem;
  overflow: hidden;
}
.introduceCardButton {
  margin-top: 5%;
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .introduceCardTitle {
  }
}
