@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
.introduceCard {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
}
.introduceCardTitle {
  text-align: center !important;
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
}
.bgSet {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  color: black !important;
  background-color: transparent !important;
  width: 1000px;
  border: 0 !important;
  margin-bottom: 1%;
}

.ImgSet {
  width: 1000px;
  height: 600px;
  opacity: 0.75;
  border-radius: 2%;
}

.introduceCardText {
  font-family: "Open Sans", sans-serif;
  margin-top: 10%;
  /* padding-left: 200px; */
  padding-right: 200px;
  font-family: cursive;
  font-size: 1.8rem;
}
.introduceCardButton {
  margin-top: 5%;
}
.btnSet {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding: 1px;
  font-size: 1rem;
  width: 110px;
  height: 30px;
}

@media screen and (min-width: 1025px) {
  .introduceCard {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    text-align: center !important;
  }
  .introduceCardTitle {
    text-align: center !important;
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
  }
  .btnSet {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 1px;
    font-size: 1rem;
    width: 120px !important;
    height: 30px;
  }
  .introduceCardText {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin-top: 10%;
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .introduceCard {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    width: 760px;
    height: 500px;
    border: 0 !important;
    margin-bottom: 30px;
  }
  .bgSet {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    color: black !important;
    background-color: transparent !important;
    width: 760px !important;
    height: 500px !important;
    border: 0 !important;
    margin-bottom: 50px;
    margin-top: 80px;
  }
  .ImgSet {
    width: 760px;
    height: 500px;
    opacity: 0.75;
    border-radius: 2%;
  }
  .introduceCardTitle {
    text-align: center !important;
    margin-top: 120px;
    /* margin-bottom: 60px; */
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
  }
  .btnSet {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    /* padding: 1px; */
    width: 90px !important;
    height: 28px !important;
    margin-top: 50px;
    /* font-size: 1rem !important; */
  }

  .btnSet p {
    width: 80px;
    margin-left: -7px;
    padding-top: 1px;
    font-size: 0.9rem;
    /* margin-right: 10px ; */
  }

  .introduceCardText {
    width: 760px !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 25px !important; */
    /* padding-top: 30px; */
    margin-left: 100px !important;
    /* margin-right: 5px !important;
    padding-left: 2px !important;
    padding-right: 2px !important; */
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem !important;
  }
}
@media screen and (min-width: 451px) and (max-width: 768px) {
  .introduceCard {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
  }
  .bgSet {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    color: black !important;
    background-color: transparent !important;
    width: 390px !important;
    height: 300px !important;
    border: 0 !important;
    margin-bottom: 10px;
  }
  .ImgSet {
    width: 390px;
    height: 300px;
    opacity: 0.75;
    border-radius: 2%;
  }
  .introduceCardTitle {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
  }
  .btnSet {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    width: 70px !important;
    height: 25px !important;
  }
  .btnSet p {
    width: 80px;
    margin-left: -15px;
    /* margin-right: 10px ; */
    /* margin-top: 1px; */
    font-size: 0.7rem !important;
  }
  .introduceCardText {
    font-family: "Open Sans", sans-serif;
    width: 300px !important;
    margin-top: 25px !important;
    margin-left: 15px !important;
    padding-left: 25px;
    padding-right: 0px;
    overflow: hidden;
  }
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .introduceCard {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    margin-bottom: 8px;
  }

  .bgSet {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    color: black !important;
    background-color: transparent !important;
    width: 300px;
    height: 200px !important;
    border: 0 !important;
    margin-bottom: 1%;
  }
  .ImgSet {
    width: 320px;
    height: 200px;
    opacity: 0.75;
    border-radius: 2%;
  }
  .introduceCardTitle {
    text-align: center !important;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
  }

  .btnSet {
    width: 60px !important;
    padding-bottom: 5px !important;
    height: 22px !important;
  }
  .btnSet p {
    text-align: center;
    width: 40px;
    margin-left: -1px;
    margin-top: -2px;
    font-size: 0.46rem !important;
  }
  .introduceCardText {
    font-family: "Open Sans", sans-serif;
    margin-top: 15px !important;
    margin-left: 5px !important;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.5rem;
    overflow: hidden;
    width: 250px !important;
  }
}
