.introduceCard {
  margin-top: 3%;
}
.introduceCardTitle {
  font-family: cursive;
  font-size: 3rem;
  margin-left: 45%;
  margin-top: 3%;
}
.introduceCardText {
  margin-top: 10%;
  font-family: cursive;
  font-size: 2rem;
  margin-left: 10%;
}
.introduceCardButton {
  margin-top: 3%;
  margin-left: 45%;
  margin-bottom: 2rem;
}
