@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
.introduceCard {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  width: 95vw;
  height: 50vw;
  border: 0 !important;
  margin-bottom: 130px;
}
.introduceCardTitle {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  height: 5vw;
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
}

.bgSet {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  color: black !important;
  background-color: transparent !important;
  width: 95vw;
  border: 0 !important;
  margin-bottom: 1%;
}

.ImgSet {
  width: 95vw;
  height: 50vw;
  opacity: 0.75;
  border-radius: 2%;
}

.introduceCardText {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  font-family: "Open Sans", sans-serif;
  width: 90vw;
  height: 25vw;
  margin-top: 1vw;
  /* padding-left: 200px; */
  padding-right: 200px;
  font-family: cursive;
  font-size: 1.8rem;
}
.introduceCardButton {
  margin-top: 5%;
}
.introbtnSet {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding: 1px;
  font-size: 1rem;
  width: max-content;
  height: 30px;
}

.introbtnSet p {
  /* position: relative; */
  width: 100px;
}

@media screen and (min-width: 1025px) {
  .bgSet {
    color: black !important;
    background-color: transparent !important;
    width: 95vw;
    height: 50vw;
    border: 0 !important;
    margin-bottom: 50px;
    margin-top: 80px;
  }
  .ImgSet {
    width: 95vw;
    height: 50vw;
    opacity: 0.75;
    border-radius: 2%;
  }
  .introduceCardTitle {
    font-size: 2rem;
    /* margin-left: 15px; */
  }

  .introbtnSet {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    /* margin-left: -10px; */
    padding: 1px;
    font-size: 1rem;
  }
  .introduceCardText {
    width: 90vw;
    font-size: 1.5rem;
    /* margin-top: 0px; */
  }

  .introbtnSet {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    width: 100px;
    /* margin-left: -22px !important; */
    /* margin-top: -2px; */
    /* margin-right: 10px ; */
  }
  .introbtnSet p {
    width: 100px;
    margin-left: -14px !important;
    margin-top: -2px;
    font-size: 1rem;
    /* margin-right: 10px ; */
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .bgSet {
    color: black !important;
    background-color: transparent !important;
    border: 0 !important;
    margin-bottom: 50px;
    margin-top: 80px;
  }

  .introbtnSet {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    /* padding: 1px; */
    width: 90px !important;
    /* height: 20px !important; */
    margin-top: 25px;
    /* font-size: 1rem !important; */
  }

  .introbtnSet p {
    width: 90px !important;
    height: 20px;
    margin-left: -12px;
    margin-top: -1px;
    font-size: 0.9rem;
    /* margin-right: 10px ; */
  }

  .introduceCardText {
    width: 90vw;
    height: 25vw;
    /* margin-top: 10px; */
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 451px) and (max-width: 768px) {
  .introduceCard {
    width: 95vw;
    height: 30vw;
  }
  .bgSet {
    width: 95vw;
    border: 0 !important;
    top: 80px;
  }
  .ImgSet {
    width: 95vw;
    height: 60vw;
  }
  .introduceCardTitle {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    margin-top: 0px;
    margin-left: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
  }

  .introduceCardText {
    width: 90vw;
    height: 30vw;
    padding: 0;
    font-size: 0.8rem;
  }

  .introbtnSet {
    display: flex;
    width: 60px;
    height: 20px;
  }
  .introbtnSet p {
    width: 60px;
    height: 20px;
    margin-left: -14px;
    margin-top: -7px;

    font-size: 0.6rem !important;
  }
}
@media screen and (min-width: 200px) and (max-width: 450px) {
  .introduceCard {
    width: 90vw !important;
    height: 50vw !important;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .bgSet {
    background-color: transparent !important;
    width: 90vw !important;
    height: 200px !important;
    border: 0 !important;
    margin-left: -22px;
  }
  .ImgSet {
    width: 90vw !important;
    height: 200px !important;
    opacity: 0.75;
    border-radius: 2%;
  }
  .introduceCardTitle {
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
  }

  .introbtnSet {
    width: 50px !important;
    height: 15px !important;
    margin-top: 5px !important;
  }
  .introbtnSet p {
    text-align: center;
    width: 90vw !important;
    margin-left: -7px;
    margin-top: -5px;
    font-size: 0.46rem !important;
  }
  .introduceCardText {
    font-family: "Open Sans", sans-serif;
    width: 90vw !important;
    height: 200px !important;
    margin-top: 15px !important;
    margin-left: -5px !important;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.6rem;
    overflow: hidden;
  }
}
