@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
.introduceCard {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 2vw;
  width: 100vw;
  height: 50vw;
  border: 0 !important;
  margin-bottom: 130px;
}
.introduceCardTitle {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  height: 5vw;
  margin-left: 0;
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
}

.bgSet {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  color: black !important;
  background-color: transparent !important;
  width: 100vw;
  border: 0 !important;
  margin-bottom: 1%;
}

.ImgSet {
  width: 100vw;
  height: 50vw;
  opacity: 0.75;
  border-radius: 2%;
}

.introduceCardText {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  height: 25vw;
  margin-top: 1vw;
  font-size: 1.5rem;
}
.introduceCardButton {
  margin-top: 5%;
}
.introbtnSet {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  padding: 1px;
  font-size: 1.5rem;
  width: 120px;
  height: 40px;
}

.moreintroduceCardText {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 1.5rem;
}

@media screen and (min-width: 769px) and (max-width: 1025px) {
  .bgSet {
    border: 0 !important;
    margin-bottom: 50px;
    margin-top: 80px;
  }

  .introbtnSet {
    width: 110px !important;
    /* height: 20px !important; */
    height: 30px !important;
    font-size: 0.9rem !important;
    margin: 0;
    padding: 1px;
  }

  .introduceCardText {
    width: 100vw;
    height: 25vw;
    /* margin-top: 10px; */
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .introduceCard {
    width: 95vw;
    height: 50vw;
  }
  .bgSet {
    width: 95vw;
    border: 0 !important;
  }
  .ImgSet {
    width: 95vw;
    height: 60vw;
  }
  .introduceCardTitle {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    margin-top: 20px;
    margin-left: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
  }

  .introduceCardText {
    width: 90vw;
    height: 30vw;
    padding: 0;
    font-size: 1rem;
  }

  .introbtnSet {
    display: flex;
    width: 100px;
    height: 30px;
  }
  .introbtnSet p {
    width: 100px;
    height: 30px;
    margin-left: -14px;
    margin-top: -7px;

    font-size: 0.9rem !important;
  }
}

@media screen and (min-width: 451px) and (max-width: 601px) {
  .introduceCard {
    width: 95vw;
    height: 60vw;
  }
  .bgSet {
    width: 95vw;
    height: 60vw;
    border: 0 !important;
  }
  .ImgSet {
    width: 95vw;
    height: 70vw;
  }
  .introduceCardTitle {
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
  }

  .introduceCardText {
    width: 90vw;
    height: 40vw;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
  }

  .introbtnSet {
    width: 80px;
    height: 22px;
  }
  .introbtnSet p {
    width: 80px;
    height: 80px;
    margin-left: -14px;
    margin-top: -7px;

    font-size: 0.8rem !important;
  }
}

@media screen and (min-width: 300px) and (max-width: 451px) {
  .introduceCard {
    width: 95vw;
    height: 70vw;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .bgSet {
    background-color: transparent !important;
    width: 95vw !important;
    height: 70vw !important;
    border: 0 !important;
    /* margin-left: -22px; */
  }
  .ImgSet {
    width: 95vw;
    height: 70vw;
    opacity: 0.75;
    border-radius: 2%;
  }
  .introduceCardTitle {
    margin-top: 10px;
    margin-left: 0;
    /* margin-bottom: 30px; */
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
  }

  .introbtnSet {
    width: 50px !important;
    height: 15px !important;
    margin-top: -20px !important;
  }
  .introbtnSet p {
    text-align: center;
    width: 50px !important;
    margin-left: -13px;
    margin-top: -5px;
    font-size: 0.46rem !important;
  }
  .introduceCardText {
    font-family: "Open Sans", sans-serif;
    width: 90vw !important;
    height: 40vw !important;
    margin-top: 15px !important;
    margin-left: -5px !important;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.6rem;
    overflow: hidden;
  }
}
