@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
.formSet {
  display: flex;
  margin-left: 5%;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.lableSet {
  font-size: 2rem;
}

.inputSet {
  font-size: 1.2rem;
  width: 800px;
}

@media screen and (min-width: 1025px) {
  .formSet {
    display: flex;
    margin-left: 5%;
    align-items: center;
    font-family: "Open Sans", sans-serif;
  }
  .inputSet {
    width: 800px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .formSet {
    display: flex;
    margin-left: 5%;
    align-items: center;
    font-family: "Open Sans", sans-serif;
  }
  .inputLen {
    width: 700px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .formSet {
    display: flex;
    margin-left: 5%;
    align-items: center;
    font-family: "Open Sans", sans-serif;
  }
  .inputLen {
    width: 800px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .formSet {
    display: flex;
    margin-left: 5%;
    align-items: center;
    font-family: "Open Sans", sans-serif;
  }
  .inputLen {
    width: 800px;
  }
}
