@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
.formSet {
  display: flex;
  margin-left: 5%;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.lableSet {
  font-size: 2rem;
}

.inputSet {
  font-size: 1rem;
  width: 800px;
}

.loginbtnSet {
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  /* font-size: 1.1rem; */
}
.pSet {
  font-size: 1.2rem;
}

@media screen and (min-width: 1025px) {
  .formSet {
    display: flex;
    margin-left: 5%;
    align-items: center;
    font-family: "Open Sans", sans-serif;
  }
  .lableSet {
    font-size: 2rem;
  }

  .inputSet {
    text-align: left;
    font-size: 1rem;
    width: 600px !important;
  }
  .loginbtnSet {
    height: 35px !important;
  }

  .regSet {
    width: 100px !important;
    padding-top: 6px;
    height: 37px !important;
  }
  .loginbtnSet p {
    width: 70px;
  }
  .pSet {
    font-size: 1.2rem !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .formSet {
    display: flex;
    margin-left: 5%;
    align-items: center;
    font-family: "Open Sans", sans-serif;
  }
  .lableSet {
    font-size: 1.5rem;
  }
  .inputSet {
    font-size: 0.9rem !important;
    width: 700px !important;
  }
  .loginbtnSet {
    width: 65px;
    height: 38px;
    font-size: 0.9rem;
  }

  .regSet {
    width: 80px;
    padding-left: 6px;
    height: 38px;
  }
  .regSet p {
    margin-left: 2px;
    font-size: 0.9rem;
  }
  .pSet {
    font-size: 1rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .formSet {
    display: flex;
    margin-left: 5%;
    align-items: center;
    font-family: "Open Sans", sans-serif;
  }
  .lableSet {
    font-size: 1.5rem;
  }
  .inputSet {
    font-size: 0.9rem !important;
    width: 700px !important;
  }
  .loginbtnSet {
    width: 70px;
    /* padding-top: 1px;
    padding-left: 21px; */
    height: 38px;
    font-size: 0.9rem;
  }
  .regSet {
    width: 88px;
    /* padding-top: 2px;
    padding-left: 25px; */
    height: 37px;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 481px) {
  .formSet {
    display: flex;
    margin-left: 5%;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    margin-top: 50px !important;
  }
  .lableSet {
    font-size: 1rem;
  }
  .inputSet {
    font-size: 0.8rem;
    width: 200px;
    height: 40px;
  }
  .loginbtnSet {
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 28px;
    font-size: 0.8rem;
  }
  .pSet {
    font-size: 0.8rem;
  }
  .regSet {
    width: 66px;
    /* padding-left: 16px; */
    height: 30px;
    font-size: 0.7rem;
  }
}
