@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
. formSet {
  display: flex;
  margin-left: 5%;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.inputLen {
  width: 800px;
}
