.wholeLink {
  margin-left: 8%;
  margin-top: 2%;
}
.link {
  margin-right: 2%;
  margin-top: 3px;
}
.navDeco {
  background-color: transparent !important;
}
.navDecoColor {
  font-family: cursive;
}
