@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
.wholeLink {
  /* margin-left: 8%;
  margin-top: 2%; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;

  margin-bottom: 4vw;
  width: 100vw;
}

.containerSet {
  font-size: 2rem !important;
  font-family: "Open Sans", sans-serif;
  margin-left: 4% !important;
  padding: 2%;
  width: 100vw;
}
.link {
  margin-bottom: 5%;
  font-size: 110%;
}

.navDecoColor {
  font-family: "Open Sans", sans-serif;
  font-size: 200%;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .containerSet {
    font-family: "Open Sans", sans-serif;
    margin-left: 2% !important;
    padding: 2%;
  }
}
